.menu-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 80px;
}

/* card styling */
.menu-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    /* Remove height: 100% to let content determine its height */
}

/* Card Styling */
:root {
    --big-stone: #fff;
    --primary-black: #000;
    --primary-white: #fff;
    --lite-grey: rgba(0, 0, 0, 0.2);
    --lite-big-stone: rgba(21, 37, 54, 0.7);
  
    --card-width: 360px;
    --card-height: 360px;
   
  
    --border-radius: 3px;
    --box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

article.card {
    width: var(--card-width);
    height: var(--card-height);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    overflow: hidden;
    cursor: pointer;
}

article.card .thumb {
    width: auto;
    height: 280px; 
    background-size: cover;
    border-radius: var(--border-radius);
}

article.card .infos {
    width: auto;
    height: var(--card-height);
    position: relative;
    padding: 14px 24px;
    background: rgba(0, 0, 0, 0.562);
    transition: 0.4s cubic-bezier(0.17, 0.67, 0.5, 1.03);
}

article.card .infos .food-title, article.card .infos .txt {
    margin: 10px 0;
    letter-spacing: 3px;
    color: var(--big-stone);
    font-size: 1rem;
    text-transform: uppercase;
}

article.card .infos .price {
    position: absolute;
    top: 9%;
    right: 10%;
    transform: translateY(-50%);
    width: 25px;
    height: 13px;
    display: inline-block;
}

article.card .infos .txt {
    font-size: 0.95rem;
    color: var(--primary-white);
    margin-top: 25px;
}

article.card .infos .details {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 20px 24px;
    letter-spacing: 1px;
    color: var(--big-stone);
    font-size: 0.9rem;
    text-transform: uppercase;
    cursor: pointer;
}

article.card:hover .infos {
    transform: translateY(-260px);
}

  