



*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    font-size: 16px;
    font-family: "Saira Semi Condensed", sans-serif;
    --font-primary: #eee;
    --font-dark: #aaa;
    --background-dark: rgba(0, 0, 0, 0.90);
    --background-light: rgba(0, 0, 0, 0.562);
    --background-light-hover: rgba(136, 127, 127, 0.411);
}

body{
    background: url('./images/background.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*header styling */
.header-container{
    position: fixed; 
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-dark);
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

.resto-name{
    margin-left: 50px;
    font-size: 2.5rem;
    color: var(--font-primary);
    font-weight: 900;
    text-transform: uppercase;
    cursor: pointer;
}

.content {
    margin-top: 60px;
    padding: 30px;
    overflow-y: auto; /* Enables vertical scrolling */
    max-height: calc(100vh - 2.5rem - 60px ); /* Adjust to include margin-top height if needed */
    box-sizing: border-box; /* Ensures padding doesn’t add to height */
}

/* footer styling*/
.footer {
    background-image: radial-gradient(100% 100% at 100% 0, #FE6A00 0, var(--footer) 100%);
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    font-size: 17px;
    padding: 5px;
    text-shadow: 0 0 10px #ffffff, 0 0 20px #FE6A00, 0 0 30px #FE6A00; /* Neon glow for text */
    text-align: center;
    color: #ffffff;
    height: 40px; /* Ensure enough height for footer content */
    position: fixed; 
    bottom: 0; 
    left: 0; 
    right: 0;
    z-index: 1000; /* Ensures the footer stays on top of other content */
}

/* Footer icon styling */
.fa-github {
    color: #fff;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
    text-shadow: 0 0 10px #ffffff, 0 0 20px #FE6A00, 0 0 30px #FE6A00; /* Neon pink glow for GitHub icon */
}

.fa-github:hover {
    transform: rotate(360deg) scale(1.6);
    color: #FE6A00; /* Neon pink color on hover */
    text-shadow: 0 0 15px #FE6A00, 0 0 30px #FE6A00; /* Stronger neon glow on hover */
}
